:root {
  --text-white: rgba(255, 255, 255, 1);
  --logo-black: rgba(0, 0, 0, 1);
  --text-color: rgba(33, 33, 33, 1);
  --foot-box-color: rgba(47, 48, 58, 1);
  --active-color: rgba(33, 150, 243, 1);
  --contacts-color: rgba(117, 117, 117, 1);
  --buttons-color: rgba(245, 244, 250, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--text-color);
}
.active {
  color: var(--active-color);
}
.visual-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 30px;
  width: 1px;
}
.navig {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
}
.logo-header {
  color: var(--logo-black);
}
.logo-footer {
  color: var(--text-white);
}

.list {
  list-style: none;
}
.contacts {
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  color: var(--contacts-color);
}
.list-a {
  text-decoration: none;
}

.contacts:hover,
.contacts:focus,
.list-a:hover,
.list-a:focus {
  color: var(--active-color);
}

.secbox {
  background-color: var(--foot-box-color);
}
.efectchoise {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-white);
}
.but-order {
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: rgba(24, 140, 232, 1);
  color: var(--text-white);
  letter-spacing: 0.06em;
  border: none;
}
.but-list {
  align-items: center;
}

.but {
  cursor: pointer;
  font-family: inherit;
  background-color: var(--buttons-color);
  color: var(--text-color);
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.but:hover,
.but:focus,
.but-order:focus,
.but-order:hover {
  background-color: var(--active-color);
  color: var(--text-white);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.title-p {
  color: var(--contacts-color);
}
.title-h2 {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.advantage-h3 {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}
.whatwedo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteambox {
  background-color: var(--buttons-color);
}
.ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.ourteam-name {
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.ourteam-position {
  color: var(--contacts-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footbox {
  background-color: var(--foot-box-color);
}
.footaddr {
  color: var(--text-white);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
